*{
    background-color: #333;
    font-family: helvetica;
}
.background{
    display: flex;
    align-items: center;
    margin-top: 18vh;
    flex-direction: column;
}
.code{
    display: flex;
    flex-direction: column;
    color: #FFF;
    width: 1000px;
}
.code-header{
    background-color: #36454F;
    padding: 15px 10px;
    border-radius: 20px 20px 0px 0px;
}
.code-content{
    display: flex;
    flex-direction: row;
    width: 90%;
    min-height: 100px;
    background-color: #28282B;
    border: 1px #F5F5F5 solid;
    border-top: hidden;
    border-radius: 0px 0px 20px 20px;
    padding: 5%;
}
.code-content > p{
    background-color: #28282B;
    font-size: 10px;
}
.line-numbers{
    background-color: #28282B;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 20px;
}
.comment{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color:#F5F5F5;
    width: 300px;

}
.comment-header{
    background-color: #36454F;
    padding: 15px 10px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction:row ;
}
.likes{
    display: flex;
     background-color: #36454F;
     font-size: 12px;
     margin: 0px 10px;
}
.date{
    display: flex;
     background-color: #36454F;
     font-size: 12px;
     margin: 0px 10px;
}
.like-button > img{
    display: flex;
     background-color: #36454F;    
     height: 15px;
     width: 15px;
}
.like-button{
    display: flex;
     background-color: #36454F;
}
.comment-content{
    display: flex;
    flex-direction: row;
    width: 90%;
    min-height: 50px;
    background-color: #28282B;
    border: 1px #F5F5F5 solid;
    border-top: hidden;
    border-radius: 0px 0px 20px 20px;
    padding: 5%;
}
.comment-content{
    font-size: 10px;
}